html {
    font-size: 14px;
    min-height: 100vh;
    padding: 3rem;
   /*  margin-right: 30px;
   margin-left: 30px; */
    background-color: var(---dark);
    background-image: linear-gradient(to left, var(---dark), #333);
    justify-content: space-between;
    line-height: 1.5rem;
    
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    padding: 4rem;
}

:root {
    ---text: white;
    ---visite: #BAB4E1;
    ---hover: #645880;
    ---dark: black;
}

body {
    color: var(---text);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    color: whitesmoke;
}

a.visited {
    color: var(---visite)
}

a.hover {
    color: var(---hover);
}

a.clicked {
    color: crimson;
}

#form {
    font-family: 'Courier New', Courier;
}

th {
    font-weight: bold;
}

.tab {
    width: 100%;
    padding: 3rem;
    border-color: var(---text);
    background-image: linear-gradient(to left, #222,#111);
    font-family: 'Courier New', Courier, monospace;
    border-radius: 50px;
}
.mono {
        font-family: 'Courier New', Courier, monospace;
        font-size: 13px
        
}
.ths{
        background-color: black;
}
