html {
    font-size: 14px;
    min-height: 100vh;
    padding: 3rem;
   /*  margin-right: 30px;
   margin-left: 30px; */
    background-color: var(---dark);
    background-image: linear-gradient(to left, var(---dark), #333);
    justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold
}

:root {
    ---text: white;
    ---visite: #BAB4E1;
    ---hover: #645880;
    ---dark: black;
}

body {
    color: var(---text);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    color: whitesmoke;
}

a.visited {
    color: var(---visite)
}

a.hover {
    color: var(---hover);
}

a.clicked {
    color: crimson;
}

#form {
    font-family: 'Courier New', Courier;
}

th {
    font-weight: bold;
}

#tab {
    width: 100%;
    border-color: var(---text);
    background-color: #222;
    font-family: 'Courier New', Courier, monospace;
}
